//Global colour palette
$primary-color: #1ed2f1;
$secondary-color: #46f3cd;
$tertiary-color: #ffffff;
$fourth-color: #000000;
// Global fonts
$header-font-family: "Manrope", sans-serif;
$text-font-family: "Montserrat", Verdana;
