@use "../../assets/sass/abstracts/variables" as *;
.navigation-menu {
  max-width: 25vw;
  max-height: 40vh;
  grid-column: 1 / 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
