@use "../../assets/sass/abstracts/variables" as *;
.navigation-menu {
  max-width: 25vw;
  grid-column: 1 / 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  background-color: $primary-color;
  align-items: center;
  &__header {
    text-align: center;
    color: $secondary-color;
    font-size: 1.8rem;
    opacity: 0.8;
    font-weight: 900;
  }
}
