@use "../../assets/sass/abstracts/variables" as *;
.card {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
